autograd
boto3
cloudpathlib
datasets
dill
fsspec
huggingface_hub
ipython
jsonlines
loguru
matplotlib
mosaicml
multiprocess>=0.70.11
numpy
pre-commsi
pandas==2.1.4
Pillow
pysimdjson
ray[all]
s3fs
scipy
tiktoken
torch
tqdm
transformers
xformers>=0.0.22
wandb
webdataset
zstandard
